.asfalto{
    display: flex;
    background-color: grey;
    border: 1px solid black;
    height: 150px;
    justify-content: space-between;
    align-items: center;
}
.start-finish{
    display: flex;
    justify-content: space-between;
}
.finish{
    color: red; 
}

/* #auto-rojo{
    margin-left: 50px;
} */
